* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
}

.start-page {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start-page > h1 {
    font-size: 50px;
}

.start-page > p {
    font-size: 30px;
}

.nickname {
    margin-bottom: 24px;
    background: rgb(240, 227, 208);
    width: 250px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.nickname::placeholder{
    text-align: center;
}

.start-button, .sort {
    margin-bottom: 30px;
    width: 64px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: rgb(233, 205, 153);
}

.start-button:active{
    transform: scale(0.95);
}

.game , form, .score-board{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

input {
    margin-bottom: 16px;
}

.select {
    font-size: 18px;
    text-align: center;
}

.next-button, .finish-button, .retry-button {
    margin-top: 24px;
    width: 64px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: rgb(173, 238, 224);
}

.next-button:active, .finish-button:active{
    transform: scale(0.95);
}

.progress-container {
    height: 20px;
    background: whitesmoke;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.progress-bar {
    height: 20px;
    background: rgb(184, 179, 175);
    position: absolute;
}

.progress-bar-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.progress-bar-step {
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    border: black solid 1px;
}

.score-board {
    margin-top: 100px;
}

th, td {
    padding: 0 32px;
    padding-bottom: 16px;
    font-size: 24px;
}

.retry-button {
    background: rgb(241, 112, 112);
}

.loader {
    margin: 50px 0;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: rgb(233, 205, 153) transparent rgb(233, 205, 153) transparent;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
}  

.hidden {
    display: none;
}