* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 0 auto;
    background: url(./background.png);
}

.start-page {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.start-page > h1 {
    font-size: 50px;
}

.start-page > p {
    font-size: 30px;
}

.nickname {
    margin-bottom: 24px;
    background: rgb(240, 227, 208);
    width: 250px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.nickname::placeholder{
    text-align: center;
}

.start-button {
    width: 64px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: rgb(233, 205, 153);
}

.start-button:active{
    transform: scale(0.95);
}

.game , form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

input {
    margin-bottom: 16px;
}

.next-button {
    margin-top: 24px;
    width: 64px;
    height: 32px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: rgb(173, 238, 224);
}

.next-button:active{
    transform: scale(0.95);
}

.hidden {
    display: none;
}

.progress-container {
    width: 80%;
    background: grey;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.progress-bar {
    height: 30px;
    background: rgb(236, 222, 143);
}